*::before,
*::after {
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

img {
    width: 100%;
    display: block;
}

body {
    width: 100%;
    height: 100%;
}

header {
    position: sticky;
    top: 1px;
    z-index: 99999;
}

/* utlity classes here */
.flex {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
}



.top-navbar {
    background-color: #1C1B23;
    padding: 20px;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.logo-container a {

    width: 30px;

}

.logo-container img {
    width: 30px;
    border-radius: 50%;
}

.logo-container {
    border-radius: 5px;
}

.menu-links {
    display: flex;
    margin: 0;

    padding: 0;
    gap: 1rem;
    list-style-type: none;
}

.menu-links li a {
    /* padding: 5px; */
    display: block;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    color: #56555C;
    padding: 0.775rem;
    transition: all 0.3s ease-in-out;
}

.menu-links li a:hover {
    color: #ddd;
    transform: scale(1.1);
}

.menu-toggle-button {
    position: absolute;
    display: none;
    right: 1rem;
    flex-direction: column;
    gap: 4px;
    height: 21px;
    width: 30px;
}

.menu-toggle-button .bars {
    width: 100%;
    gap: 3px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    /* margin: 6px auto; */
}



.info-wrapper {
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1B23;
    color: white;
    gap: 1rem;
}

.profile-img {
    width: 50%;
    background-color: transparent;

    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;


}


.intro {
    max-width: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

}

.intro h1 {
    font-size: 2rem;
    text-wrap: wrap;
}

.intro a {
    text-decoration: none;
}

.button {
    background-color: #ddd;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-size: 0.9em;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}


.intro p {
    overflow: hidden;
    color: #707887;
}

.intro h1 {
    text-align: center;
}

.intro .job {
    color: #3E2067;
}

.projects-article {
    padding: 20px;
    background-color: #1C1B23;
}

.projects-article h3 {
    font-size: 1.5rem;
    margin: 2rem;
    color: white;
}

.projects-container .project-link {
    text-decoration: none;
    transition: transform 0.5s ease-in
}

.projects-container .project-link:hover {
    transform: scale(1.1);
}

.projects-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.project {
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 36px 28px inset;

}


.project img {
    aspect-ratio: 1/1;
    object-fit: cover;
    background-size: cover;

}

.project h4 {
    padding: 5px;
    color: #ddd;
}

.project p {
    padding: 5px;
    color: #56555C;
    font-size: 0.8em;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    gap: 2rem;
    background-color: #1C1B23;
}

.skills {
    background-color: #14131A;
    position: relative;
    padding: 20px;
    /* font-size: 0.9em; */
    border-radius: 20px;
}

.skills h4 {
    color: white;
    margin-block: 1.5rem;
    text-align: center;
}

.skills-article {
    background-color: #1C1B23;
    color: #ddd;
    padding: 20px;
}

.skills-article h3 {
    color: white;
    margin: 2rem;
    /* text-align: center; */

}

.skills ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: row;
    gap: 0.876rem;
    list-style-type: none;
}

.skills ul li {
    background-color: #0F0F0F;
    color: #56555C;
    border-radius: 10px;
    outline: none;
    font-size: 0.8em;
    font-weight: 400;
    border: none;
    text-align: center;
    padding: 10px;
}

.skills ul li:nth-child(1) {
    border: 1px solid royalblue;
}

.skills ul li:nth-child(2) {
    border: 1px solid yellow;
}

.skills ul li:nth-child(3) {
    border: 1px solid green;
}

.skills ul li:nth-child(4) {
    border: 1px solid rebeccapurple;
}



.skills::before {
    content: '';
    position: absolute;
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 15px;
}

.skills::after {
    content: '';
    position: absolute;
    background-color: greenyellow;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 15px;
    left: 50px;
}

.contact-me-section {
    background-color: #1C1B23;
    padding: 40px;
    margin: 0 auto;
}

.contact-me-section h2 {
    color: #ddd;
    margin: 2rem;
}

.contact-form {
    background-color: #14131A;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contact-form h3 {
    color: #fff;
    text-align: center;
    font-size: 1em;
}

.contact-form label {
    display: block;
    color: #56555C;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    font-size: 0.9rem;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
}

.contact-form textarea {
    height: 100px;
    border-radius: 10px;
}

.contact-form button {
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    background-color: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.contact-form button:hover {
    background-color: #343541;
    border-color: #fff;
}

footer {
    background-color: #14131A;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info,
.quick-links,
.social-links {
    flex: 1;
    text-align: left;
    margin: 10px;
}

.contact-info p {
    font-size: 14px;
    margin: 5px 0;
}

.quick-links a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 5px 0;
}



.certificate-section {
    background-color: #1C1B23;

}

.certificate-section h4 {
    color: #ddd;
    font-size: 1.5rem;
    margin-left: 2rem;
    padding: 30px;
}

.certificates-article {
    padding: 1rem;
    background-color: #1C1B23;
}

/* .certificates img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;

} */

.Certificates {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;

}

.certificate {
    background-color: #14131A;
    padding: 10px;


}

/* Certificates hover effect */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);


.snip1543 {
    background-color: #fff;
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    margin: 10px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1543 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.snip1543:before,
.snip1543:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1C1B23;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1543:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0F0F0F;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: "";
    opacity: 0.5;
    z-index: -1;
}

.snip1543 figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
}

.snip1543 h3 {
    font-family: "Teko", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    line-height: 1em;
    text-transform: uppercase;
}

.snip1543 p {
    font-size: 0.9em;
}

.snip1543 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1543:hover h3,
.snip1543:hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.snip1543:hover:before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.snip1543:hover:after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.snip1543:hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}



@media screen and (max-width: 600px) {
    .top-navbar {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }



    .contact-me-section {
        padding: 20px;
    }

    .menu-toggle-button {
        display: flex;
    }

    .menu-links {
        width: 100%;
        display: none;
        flex-direction: column;
    }

    .menu-links li {
        text-align: center;
    }

    .info-wrapper {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .menu-links li {
        width: 100%;
    }

    .menu-links.active {
        display: flex;
    }

    .intro {
        align-items: center;
    }

    .intro h1 {
        font-size: 1.5rem;
    }


}